# DataFrame


## Resumo

É como se fosse uma tabela.

- As colunas funcionam "como chaves de dicionário"
- As linhas funcionam "como listas"

## Funcionamento

Temos um dataframe chamado vendas_df

vendas_df['coluna_x'] -> uma lista com os valores da coluna_x (em formato dataframe, é um dataframe com 1 coluna só)
vendas_df[0] -> NÃO FUNCIONA ASSIM PARA DATAFRAMES
vendas_df[:0] -> isso funcionaria, pegue "até" o ínedice zero
vendas_df[:3] -> pega até a linha de índice 3 do dataframe
vendas_df[['coluna_x', 'coluna_y', 'coluna_z']] -> cria um novo dataframe com as colunas coluna_x, coluna_y e coluna_z
vendas_df['coluna_x'][0] -> pega o itemd a 1ª linha da coluna coluna_x

- Vamos ler um arquivo real, com a Base de Dados de Vendas da Empresa "Contoso"

In [13]:
import pandas as pd

# o nome do arquivo quando baixa o csv está com espaço
# para funcionar é preciso remover o espaço extra
# vendas_df = pd.read_csv(r'Contoso - Vendas  - 2017.csv', sep=';')
vendas_df = pd.read_csv(r'Contoso - Vendas - 2017.csv', sep=';')

# exibe o dataframe inteiro
vendas_df

# exibe apenas uma coluna do dataframe
vendas_df['ID Cliente']

# falando sobre linhas
# vendas_df[0] # -> NÃO FUNCIONA ASSIM PARA DATAFRAMES, dá erro: KeyError: 0
# vendas_df[:0] #-> isso funcionaria, pegue "até" o ínedice zero, ou seja: o cabeçalho
# vendas_df[:3] #-> pega até a linha de índice 3 do dataframe, incluindo o cabeçalho

# falando sobre colunas
# criando novo dataframe com três colunas
# como se fosse um filtro no dataframe original
vendas_df[['Numero da Venda', 'Data da Venda', 'ID Produto']]

# obs: aqui estamos trabalhando com o dataframe pequeno
# até que tem bastante linhas, mas tem poucas colunas
# por isso quando pedimos para exibir a tabela, ele exibe bonitinha
# se estivessemos trabalhando com um dataframe maior ele exibe em outro formato


# e aí, para pegar uma linha de uma determinada coluna
vendas_df['ID Produto'][0]
# no vídeo, mostrou o número 981
# no meu caso, mostrou 
# np.int64(981)

# falando sobre o comantário um pocuo acima:
# ao se deparar com uma base de dados pela primeira vez
# temos que entender o que tem nela
# exibindo a tabela é um jeito de fazer isso, como fizemos acima
# basta escrever o nome do dataframe, vendas_df
# mas não fica um bom visual em tabelas muito grandes
# na célula abaixo, usaremos o método .info()

np.int64(981)

## Aplicação

- O 1º passo de toda Análise de Dados é você entender o que existe na sua base de dados

Usaremos o .info() para isso

In [14]:
vendas_df.info()
# exibe detlahes do dataframe
# documentação
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980642 entries, 0 to 980641
Data columns (total 10 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Numero da Venda       980642 non-null  int64
 1   Data da Venda         980642 non-null  object
 2   Data do Envio         980642 non-null  object
 3   ID Canal              980642 non-null  int64
 4   ID Loja               980642 non-null  int64
 5   ID Produto            980642 non-null  int64
 6   ID Promocao           980642 non-null  int64
 7   ID Cliente            980642 non-null  int64
 8   Quantidade Vendida    980642 non-null  int64
 9   Quantidade Devolvida  980642 non-null  int64
dtypes: int64(8), object(2)
memory usage: 74.8+ MB

- Vamos criar então agora uma lista de Clientes

In [18]:
lista_clientes = vendas_df['ID Cliente']
lista_clientes

0          6825
1         18469
2         19730
3         29326
4         22617
          ...
980637    10353
980638    31750
980639    12003
980640    25550
980641    28707
Name: ID Cliente, Length: 980642, dtype: int64

- Vamos criar agora uma lista com os produtos e as quantidades de vendas dele, caso a gente queira analisar só os produtos (independente de data ou de cliente)

In [28]:
# tentei fazer sem ver o vídeo, mas puxei apenas a quantidade vendida
# produtos_vendidos = vendas_df[['ID Produto', 'Quantidade Vendida']]
# produtos_vendidos
# no vídeo, ele acrescenta a quantidade devolvida (o que faz mais sentido na vida real)
# obs: se passar nome de coluna com espaço, dá erro
# produtos_quantidade = vendas_df[['ID Produto', 'Quantidade Vendida ', 'Quantidade Devolvida ']]
# KeyError: "['Quantidade Vendida ', 'Quantidade Devolvida '] not in index"
produtos_quantidade = vendas_df[['ID Produto', 'Quantidade Vendida', 'Quantidade Devolvida']]
produtos_quantidade

        ID Produto  Quantidade Vendida  Quantidade Devolvida
0              981                   9                     1
1             1586                   9                     1
2             1444                  13                     1
3             1468                   6                     1
4             1106                   4                     1
...            ...                 ...                   ...
980637        2490                 120                     0
980638        2488                 120                     0
980639        2511                  80                     0
980640         436                  39                     0
980641        2510                  80                     0

[980642 rows x 3 columns]